.aboutMe {
    background-color: #f2f2f2;
    padding-bottom: 60px;
    h3 {
        margin: 0;
        padding: 60px;
    }
    p {
        padding: 0 20px;
        text-align: right;
    }
    .social {
        display: flex;
        flex-direction: column;
        padding-right: 0;
        padding-right: 20px;
        .fa-twitter, .fa-github, .fa-linkedin {
            font-size: 35px;
            color: black;
            margin-bottom: 10px;
            &:hover {
                color: #ee2a0c;
            }       
    }
}
}

.about {
    background-color: #f2f2f2;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.aboutDescription {
    width: 50%;
    display: flex;
    justify-content: space-between;
    p {
        margin-top: 0;
    }
}

.headshot {
    width: 40%;
    img {
        box-shadow: 25px 20px #fc6a55;
    }
}

.aboutDescription {
    flex-direction: column;
    .social {
        flex-direction: row;
        justify-content: flex-end;
    }
    span {
        font-weight: bold;
    }
    a {
        text-decoration: none;
        color: #fc6a55;
        &:hover {
            color: #ee2a0c;
        }
    }
}

