footer {
    padding: 25px;
    background-color: #101010;
}
.footerInfo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.info p {
    font-family: Roboto;
    color: #fff;
    font-size: 12px;
}

.fa-twitter, .fa-github, .fa-linkedin {
    color: #fc6a55;
    text-decoration: none;
    font-size: 30px;
    margin-left: 10px;
    transition: all 0.3s;
    &:hover {
       color: #ee2a0c;
    }
}

.socialBottom {
    display: none;
}

.contactOr {
    flex-direction: column;
    align-items: center;
    
}