header {
    background-image: linear-gradient(to right, rgba(0,0,0,0.7), rgba(0,0,0,0.5)), url("./../../public/styles/assets/hero4-min.jpg");
	height: 100vh;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
    height: 100vh;
    .mainNav {
        display: flex;
        top: 0;
        height: 70px;
        justify-content: space-between;
        align-items: center;
        .logo {
            align-items: center;
            display: flex;
        }
        ul {
            display: flex;
            margin: 0;
            padding: 0;
            align-items: center;
            a {
                text-decoration: none;
                outline: none;
                color: #fff;
                margin-left: 40px;
                font-size: 20px;
                z-index: 100;
                font-family: 'Roboto Condensed';
                li {
                    list-style: none;
                }
            }
        }
        h4 {
        font-family: Roboto;
        color: #fff;
        font-family: 'Roboto Condensed';
        margin: 0;
    }
    }
} 

.fullNav {
    background-color: rgba(0,0,0,0.7);
    width: 100%;
    z-index: 100;
    position: fixed;
    height: 73px;
}

.mainHeading {
    height: 80vh;
    display: flex;
    align-items: center;
    padding-top: 70px;
    h1 {
        margin-bottom: 20px;
        font-family: 'Lobster', cursive;
        color: #fff;
        font-size: 90px;
        width: 100%;
    }
    h2 {
        margin-top: 5px;
        font-family: 'Roboto Condensed';
        color: #fff;
        width: 100%;
    }
    a {
        text-align: left;
        border-style: none;
        text-decoration: none;
        color: #fff;
        padding: 16px 50px;
        font-family: 'Roboto Condensed';
        letter-spacing: 2px;
        font-size: 14px;
        font-weight: 700;
        display: block;
        border-radius: 5px;
        background-color: #fc6a55;
        text-transform: uppercase;
        &:hover {
            border-radius: 5px;
        }
    }
    
}

.hamburger {
        display: none;
    }

.hamburgerNav {
    display: none;
    background-color: rgba(0,0,0,1);
    z-index: 300;
    .hamburgerNavLinks {
        padding: 0;
        display: flex;
        align-items: center;
        margin-top: 50px;
        flex-direction: column;
    }
    a {
        margin-bottom: 20px;
        margin-top: 20px;
        background-color: #ee2a0c;
        width: 50%;
        text-align: center;
    }
    li {
        list-style: none;
    }
}

.hamburgerNav.active  {
    display: inline-block;  
    right: 0;
    top: 70px; 
    width: 100%;
    height: calc(100% - 71px);
    position: fixed;
    background-color: rgba(0,0,0,0.9);
}

span.hamburger-inner::after {
    color: red;
}