@media (max-width: 1060px) {
    .about {
        flex-direction: column-reverse;
        .headshot {
            width: 60%;
            display: block;
            margin: 0 auto;
            padding-bottom: 40px;
        }
    }
    .aboutDescription {
        flex-direction: column;
        width: 100%;
        p {
            text-align: center;
        }
        .social {
            justify-content: center;
        }
    }
    .aboutMe .social {
        flex-direction: row;
        padding-top: 20px;
        .fa-twitter, .fa-linkedin, .fa-github {
            font-size: 40px;
        }
    }
    .scrollDown {
        margin-top: 20px;
        margin-bottom: 40px;
    }
    .hamburger {
        display: inline-block;
        justify-content: flex-end;
    }

    .standardNav {
        display: none;
    }
    .imgContainer {
        width: 45%;
    }
    .fullNav {
        background-color: black;
    }
}

@media (max-width: 1000px) {
    .project2, .project3 {
        flex-direction: column-reverse;
        margin: 25px 0;
        .description {
            width: 100%;
            text-align: center;
        }
        .heading h3 {
            padding-top: 0;
        }
        img {
            display: block;
            margin: 0 auto;
        }
    }
     .project1, .project4, .project5 {
        flex-direction: column;
        margin: 25px 0;
        .description {
            width: 100%;
            text-align: center;
        }
        .heading h3 {
            padding-top: 0;
        }
        img {
            display: block;
            margin: 0 auto;
        }
    }
    .project1 {
        margin-bottom: 40px;
    }
    .projects h4 {
        font-size: 25px;
        margin: 15px 0;
    }
    .projects h5 {
        font-size: 15px;
        margin-bottom: 20px;
    }
    .projectContainer {
        padding-bottom: 0;
        background-image: linear-gradient(to bottom, rgba(0,0,0,0.9), rgba(0,0,0,0.7));

    }
    .imgContainer {
        width: 100%;
        margin: 15px 0px;
    }
    .projectButton {
        display: flex;
        align-items: center;
        flex-direction: column;
        button {
            width: 50%;
        }
    }
    .heading {
        h3 {
            font-size: 30px;
            padding: 30px;
        }
    }
    .scrollDown a {
        margin-top: 0;
    }
    .aboutMe h3 {
        padding: 40px;
        font-size: 40px;
    }

    .contact {
        h3 {
            font-size: 40px;
            padding: 0;
        }
    }

    .contactEmail .center {
        margin: 20px 0;
    }

    .contactOr {
        margin: 20px 0;
    }

    .projectContainer h3, .skillsHeader h3 {
        font-size: 40px;
        padding-bottom: 10px;
        padding-top: 40px;
    }

    #skills h3 {
        padding-top: 30px;
    }
}

@media (max-width: 860px) {
    div.emailPhone {
        flex-direction: column;
        input#email {
            margin-left: 0;
        }
    }
    div.icons i {
        width: 50%;
    }
    .footerInfo {
        flex-direction: column;
        p {
            font-size: 14px;
            text-align: center;
        }
        .social {
            margin: 10px;
        }
    }
    .aboutDescription {
        .social {
            padding-right: 0;
        }
    }
    .fa-twitter, .fa-linkedin, .fa-github {
        font-size: 30px;
        margin: 10px;
    }
}

@media (max-width: 800px) {
    .skills {
        flex-wrap: wrap;
        padding-bottom: 20px;
    }
    .project1, .project2, .project3, .project4, .project5 {
        padding: 20px;
    }
}

@media (max-width: 700px) {
    .mainHeading h1 {
        font-size: 70px;
    }
    .mainHeading h2 {
        font-size: 25px;
    }
    .mainHeading button {
        padding: 10px 30px;
    }
    header .mainNav .logo {
        display: none;
    }

    button.hamburger {
        padding: 20px 0;
        margin-top: 5px;
    }

    header {
        background-image: linear-gradient(to bottom, rgba(0,0,0,0.7), rgba(0,0,0,0.4)), url('../../public/styles/assets/hero5-min.jpg');
        height: 100vh;
        background-position: right;
        background-size: cover;
        .mainNav {
        justify-content: flex-end;
        ul a {
            margin: 10px;
        }
    }
    }

    .projectButton a.seeLive, .projectButton a.github {
        width: 100%;
    }
}

@media (max-width: 640px) {
    .projectButton button {
        width: 100%;
    }
    .projects h5 {
        width: 100%;
    }
}

@media (max-width: 500px) {
    .contactForm input, .contactContainer textarea {
        font-size: 16px;
    }
    .contact input.send {
        font-size: 14px;
        padding: 15px;
        width: 80%;
    }
    .projectButton a.seeLive, .projectButton a.github {
        font-size: 12px;
    }
    .aboutDescription p {
        font-size: 14px;
    }
    .aboutMe .social {
    .fa-twitter, .fa-linkedin, .fa-github {
        font-size: 30px;
    }
    .hamburgerNav .hamburgerNavLinks {
        width: 100%;
    }
}
}

@media (max-width: 375px) {
    .mainHeading h1 {
        font-size: 50px;
    }
    header .mainNav ul {
        width: 100%;
        a {
            margin: 5px;
            padding-top: 20px;
        }
    }
    .projects button {
        font-size: 12px;
        padding: 12px 45px;
    }
    .title {
        display: block;
        margin: 0 auto;
    }
    .skills .icons {
        width: 30%;
    }
    .contact input.send {
        font-size: 12px;
    }
    a.seeLive, a.github {
        padding: 16px;
    }
    .projects {
        h5 {
            font-size: 13px;
        }
        h4.language {
            font-size: 15px;
        }
    }
}