.skillsContainer {
    background-color: #f2f2f2;
}

.skills {
    width: 100%;
    padding-bottom: 40px;  
    justify-content: center;
    display: flex;
    .icons {
        width: 25%;
        text-align: center;
        margin: 20px 0;
    }
}

#skills {
    h3 {
        padding-top: 60px;
        padding-bottom: 40px;
        margin: 0;
        font-family: 'Lobster', cursive;
    }
}

.icons {
    img {
        max-width: 60px;
    }
    i {
        font-size: 60px;
        width: 100%;
        color: #fc6a55;
        transition: all 0.2s;
    }
    p {
        font-size: 14px;
    }
}